{% extends 'shop/basic.html' %}

{% block title%}About Us{%endblock%}


{% block body %}

<div class="container">
    <h1 class="text-center my-5" style="color: #CD7574;font-size: 3em;"><b>About Us</b></h1>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray;width: 5%;">
    <h3 class="text-center mt-5">Professional Customer Service</h3>
    <p style="font-size: 1.2em;" class="text-center my-4">Our goal is to make sure we support you every step of the way. If you have concerns, we are ready to help you over email or a phone call.</p>
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-5">Committed to Quality</h3>
            <p style="font-size: 1.2em;" class="text-center my-4">No matter what product you're looking for, we guarantee its quality.
                 We want you to feel confident that your purchase is right for you.</p>
        </div>

        <div class="col">
            <h3 class="text-center mt-5">100% Satisfaction Guaranteed</h3>
            <p style="font-size: 1.2em;" class="text-center my-4">Our goal is to make sure we support you every step of the way.
                 If you have concerns, we are ready to help you over email or a phone call.</p>
        </div>
    </div>
    <div class="text-center">
    <img src="/media/shop/images/thereal.jpg">
    </div>
</div>
{% endblock %}