{% extends 'shop/basic.html' %}

{% block title%}About Us{%endblock%}


{% block body %}

<div class="container">
    <h1 class="text-center my-5">privacyUs</h1>
    <hr>
    <h5 class="text-center mt-5">Professional Customer Service</h5>
    <p class="text-center my-4">Our goal is to make sure we support you every step of the way. If you have concerns, we are ready to help you over email or a phone call.</p>
    <div class="row">
        <div class="col">
            <h5 class="text-center mt-5">Committed to Quality</h5>
            <p class="text-center my-4">No matter what product you're looking for, we guarantee its quality.
                 We want you to feel confident that your purchase is right for you.</p>
        </div>

        <div class="col">
            <h5 class="text-center mt-5">100% Satisfaction Guaranteed</h5>
            <p class="text-center my-4">Our goal is to make sure we support you every step of the way.
                 If you have concerns, we are ready to help you over email or a phone call.</p>
        </div>
    </div><br>
    <h3 class="text-center my-5">theheartystore</h3><br>
</div>
{% endblock %}